body {
    width: 400px;
    padding: 1em;
    background: linear-gradient(to bottom, #B0413E 0%, #e4a2a2 100%);
    background-image: "../img/Background.jpg"
  }
  

  .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
.title{
  display: block;
  width: 75%;
  margin: auto;
  background:#FFFFC7;
  text-align: center;
  border-radius: 25px;
  border-color: #548687;
}

.query-button{
  display: inline;
  margin: 15px;
  text-align: center;
  border-radius: 25px;
}
.query-form{
  display: block;
  width: 75%;
  margin: auto;
  background:#FFFFC7;
  text-align: center;
  border-radius: 25px;
  border-width: 3px;
  border-color: #548687;
  height: 50px;
}
.query-input{
  display: inline;
  text-align: center;
  margin: 15px;
  border-radius: 25px;
  background-color: #ffffff10;
  color: black;
}
.output {
    display: none;
}